.about {
    color: white;
    display: flex;
    width: 50%;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    margin: auto;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px);
    padding: 1.5em;
}
.face{
    width: 25%;
    height: auto;
}
.about-container{
  
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.about-title{
    font-family: 'bl_melodymedium';
}
.about-text{
    color: white;
    font-family: 'bl_melodylight';
    width: 100%;
}


hr {
    color: black;
}

.text-container{
    width: 100%;
    border: 5px solid black;
}

.about-text{
    width: 100%;
}

