.about {
    color: white;
    width: 50%;
    margin: auto;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px);
    padding: 1.5em;
}
.face{
    width: 25%;
    height: auto;
}
.about-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-title{
    font-family: 'bl_melodymedium';
    text-align: center;
}
.about-text{
    color: white;
    font-family: 'bl_melodylight';
    width: 100%;
    text-align: center;
}


hr {
    color: black;
}

.text-container{
    width: 100%;
    border: 5px solid black;
}

.about-text{
    width: 100%;
}

@media only screen 
  and (max-width: 320px) {
  /* Styles */
  .about{
    width: 90%;
  }

}

@media only screen 
  and (max-device-width: 1024px) 
  and (orientation: portrait) {
  /* Styles */
    .about{
    width: 90%;
  }
}

/* Desktops and laptops ----------- */
@media only screen 
  and (min-width: 1224px) {
  /* Styles */
}

@media only screen 
  and (min-width: 1824px) {
  /* Styles */
}