.footer {
    margin-top: auto;
    display: flex;
    justify-content: center;
    padding: 1em;
    align-items: center;
    gap: 2em;

}
.footer-link{
    color: black;
    background-color: transparent;
}