.resume-container{
    margin: auto;
    padding: auto;
    text-align: center;
}



.resume-link {
color: black;
text-decoration: underline;
}


.skills {
    display: flex;
    justify-content: center;
    word-wrap: wrap;
}

.icon1 {
    animation: bounce 1s;
    transition: transform .2s;
}

.icon1:hover {
    transform: scale(1.1);
}
.icon2 {
    animation: bounce 1.3s;
    transition: transform .2s;
}
.icon2:hover {
    transform: scale(1.1);
}
.icon3 {
    animation: bounce 1.5s;
    transition: transform .2s;
}
.icon3:hover {
    transform: scale(1.1);
}
.icon4 {
    animation: bounce 1.7s;
    transition: transform .2s;
}
.icon4:hover {
    transform: scale(1.1);
}
.icon5 {
    animation: bounce 1.9s;
    transition: transform .2s;
}
.icon5:hover {
    transform: scale(1.1);
}
.icon6 {
    animation: bounce 2.1s;
    transition: transform .2s;
}
.icon6:hover {
    transform: scale(1.1);
}
.icon7 {
    animation: bounce 2.3s;
    transition: transform .2s;
}
.icon7:hover {
    transform: scale(1.1);
}
.icon8 {
    animation: bounce 2.6s;
    transition: transform .2s;
}
.icon8:hover {
    transform: scale(1.1);
}



@keyframes bounce {
    0%{
        transform: scale(90%);
        opacity: 0;
    }
    100%{
        transform: scale(100%);
        opacity: 1;
    }
    
}